<div id="message-<%= message.id %>">
  <div class="msg-bubble">
    <div class="msg-info">
      <div class="msg-info-name"><%= message.user.first_name %> <%= message.user.last_name %></div>
      <div class="msg-info-time"><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></div>
    </div>

    <div class="msg-text left-msg">
      <p><%= message.content %></p>
    </div>
  </div>
</div>
