<h2>Show Page for profiles </h2>
<h3><%= @user.first_name %></h3>
<h3><%= @user.last_name %></h3>
<h3><%= @user.origin %></h3>
<h3><%= @user.residence %></h3>
<p><%= @user.biography %></p>
<%# if there is a chatroom %>
<% if @chatroom %>
  <%# link to the chatroom page %>
  <%= link_to "Message", chatroom_path(@chatroom), class: 'btn btn-primary'%>
<% else %>
  <%# create a new chatroom and go there %>
  <%= simple_form_for @chatroom_new do |f| %>
    <%= f.hidden_field :user2_id, value: params[:id] %>
    <%= f.button :submit, "Message", class: 'btn btn-primary'  %>
  <% end %>
<% end %>

<% if @user == current_user %>
  <%= link_to "Edit", edit_user_registration_path, class: 'btn btn-primary ml-2' %>
<% end %>
