<div class="container-chatroom-page">
  <div class="container-chatroom rounded">
    <div class="row">

      <section class="discussions rounded">
        <div class="discussion search rounded mt-1">
          <div class="searchbar">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" placeholder="Search...">
          </div>
        </div>

          <% @all_my_chatrooms.each do |chatroom| %>
          <%= link_to(chatroom) do %>
            <div class="discussion rounded mt-1">
                <% unless chatroom.user1 == current_user %>
                  <%= cl_image_tag chatroom.user1.photo.key, crop: :thumb, gravity: :face, zoom: 0.6, class: "photo" %>
                <% else %>
                   <%= cl_image_tag chatroom.user2.photo.key, crop: :thumb, gravity: :face, zoom: 0.6, class: "photo" %>
                <% end %>
                <div class="online"></div>
              <div class="desc-contact">
                <p class="name">
                  <% unless chatroom.user1 == current_user %>
                    <%= chatroom.user1.first_name %> <%= chatroom.user1.last_name %>
                  <% else %>
                    <%= chatroom.user2.first_name %> <%= chatroom.user2.last_name %>
                  <% end %>
                </p>
                  <% if chatroom.messages.count.positive? %>
                    <p class="message"><%= chatroom.messages.last.content %></p>
                    <div class="timer">
                      <p><%= chatroom.messages.last.updated_at %></p>
                    </div>
                  <% else %>
                     <p class="new message">new convo</p>
                  <% end %>
              </div>
            </div>
            <% end %>
          <% end %>
      </section>

      <section class="chat">
        <div class="header-chat rounded mt-1">
          <i class="ms-2" aria-hidden="true">
            <% unless @chatroom.user1 == current_user %>
              <%= cl_image_tag @chatroom.user1.photo.key, height: 45, width: 45,  crop: :thumb, gravity: :face, zoom: 0.4, class: "photo radius-50" %>
            <% else %>
                <%= cl_image_tag @chatroom.user2.photo.key, height: 45, width: 45,   crop: :thumb, gravity: :face, zoom: 0.4, class: "photo radius-50" %>
            <% end %>
          </i>
          <h1 class="name">
            <% unless @chatroom.user1 == current_user %>
              <%= @chatroom.user1.first_name %> <%= @chatroom.user1.last_name %>
            <% else %>
                <%= @chatroom.user2.first_name %> <%= @chatroom.user2.last_name %>
            <% end %>
          </h1>
        </div>

        <div class="container chatroom"
          data-controller="chatroom-subscription"
          data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
          data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">

          <div class="messages" data-chatroom-subscription-target="messages">
            <% @chatroom.messages.each do |message| %>
              <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
                <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
                  <%= render "messages/message", message: message %>
                </div>
              </div>
            <% end %>
          </div>

          <%= simple_form_for [@chatroom, @message],
            remote: true,
            html: {
              class: "d-flex",
              data: { action: "ajax:success->chatroom-subscription#resetForm"} } do |f|
              %>
                <%= f.input :content,
                  label: false,
                  placeholder: "Message #",
                  wrapper_html: {class: "flex-grow-1 m-2"}
                %>
                <%= f.submit "Send", class: "btn-chatroom rounded" %>
          <% end %>

        </div>
      </section>
    </div>
  </div>
</div>
