<div>
  <div>
    <%= event.date %>
  </div>
  <div>
    <%= event.photo %>
    <div>
      <h2><%= event.name %></h2>
      <p><%= event.time %></p>
      <p><%= event.description %></p>
      <div>
        <p><%= event.location %></p>
      </div>
    </div>
  </div>
</div>
