<%# Paul: This is the partial for the event cards in the My Events page. The variable
event will need to be associated with the necessary variable in the page it
is called to. %>

<div class="d-flex my-event-card">
  <p class="my-event-date"><%= event.date.strftime("%B %d") %></p>
  <img src="https://loremflickr.com/320/240" class="event-img" />
    <div class="event-text">
      <h2 class="event-name"><%= link_to event.title, event_path(event) %></h2>
      <p class="event-time"><%= "#{event.starting_time} - #{event.ending_time}" %></p>
      <p class="event-desc"><%= event.short_desc %></p>
      <div>
        <p class="event-location"><%= event.address %></p>
      </div>
    </div>
</div>
