<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid navbar-whole">
  <!--Paul: changed icon link to redirect to homepage-->
    <%= link_to "/", class: "navbar-brand" do %>
      <!--MY LOGO DOESNT WORK!-->
      <%= image_tag "HAFHLOGO.png", style: "width:70px; height:40px;"%>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
          <!--Paul: link to dashboard-->
            <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
          <!--Paul: link to my events page-->
            <%= link_to "My Events", my_events_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
          <!--Paul: link to current user's messages-->
          <% @chatrooms = Chatroom.where("user1_id = ? or user2_id = ?", current_user, current_user).order(updated_at: :desc).first %>
            <% if @chatrooms %>
              <%= link_to "Messages", chatroom_path(@chatrooms), class: "nav-link" %>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <!--need to change this image!-->
            <% if current_user.photo.key %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier"/>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "New Event", new_event_path, class: "dropdown-item" %>
              <%= link_to "Profile", profile_path(current_user), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
