
<div class="container d-flex justify-content-between">
  <div class="row">
    <div class="col-4" style="width: 400px; height: 600px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @events_markers.to_json %>"
      data-mapbox-participations-markers-value="<%= @participations_markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <div class="col-8">
    <div>

      <h2>Attending</h2>

      <ul>
        <% @participations.each do |participation| %>
          <li><%= link_to participation.title, event_path(participation) %></li>
        <% end %>
      </ul>

    </div>

    <div>

      <h2>Hosting</h2>

      <ul>
        <% @my_events.each do |event| %>
          <li><%= link_to event.title, event_path(event) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
