<div>
<%= simple_form_for @event do |f| %>
  <%# cloudinary for images %>
  <div class="event-banner" style="background:linear-gradient(to right, rgba(0, 0, 0, 0.3),#f4f4f4);">
    <div class="container d-flex flex-column justify-content-center h-100">
      <h1>Create an event <%= f.input :photo, label: false, wrapper_html: {class: "fa-solid fa-camera fa-2xs d-flex justify-content-end pr-5", data: { controller: "photo-input", action: "click->photo-input#chooseFile" } }, input_html: {class: "d-none", data: { photo_input_target: "input" } } %></h1>

        <div class="col-md-4">
          <%= f.input :title, placeholder: "Title of the event", label: false %>
        </div>
        <div class="col-md-4">
          <%= f.association :category, prompt: "Category", label: false %>
        </div>
        <%# How do I show the image? Go to show page of event when create %>
    </div>
  </div>

  <div class='container'>
    <div class="row position-relative">
      <div class="event-popup-title-new col-sm-6 mx-2 pt-3 text-center">
        <div class="col-sm-3 me-1">
          <%= f.input :starting_time, placeholder: "Start: 18:00", label: false %>
        </div>
        <div class="col-sm-3 me-1">
          <%= f.input :ending_time, placeholder: "End: 18:00", label: false %>
        </div>
        <div class="col-sm-6">
          <%= f.input :date, label: false, html5: true %>
        </div>
      </div>
      <div class="col-sm-6 pt-5 bg-white ps-4">
        <h4 class="pt-4">Location:</h4>
        <%# ADDING AUTOCOMPLETE ADDRESS %>
        <%= f.input :address,
                    wrapper_html: { data: { controller: "geocoder", class: "mapboxgl-ctrl-geocoder",
                    geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } },
                    input_html: { data: { geocoder_target: "address" }, class: "d-none " },
                    placeholder: "Address: 101, name Street, City, State", label: false %>

        <h4>Description:</h4>
        <p><%= f.input :description, placeholder: "Description", label: false %></p>
        <div class="d-flex justify-content-end">
          <%= link_to 'Back', dashboard_path, class: "btn btn-primary mx-1"%>
          <%= f.submit class: "btn btn-primary mx-1"%>

        </div>

      </div>

      <div class="col-sm-6 bg-white min-height: 380px">
        <div class="map-event"
          data-controller="mapbox"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>

    </div>
  </div>

<% end %>

</div>
