<h2>Event Details</h2>

<h4><%= @event.title %></h4>
<p><%= @event.date %></p>
<p><%= @event.location %></p>
<p><%= @event.description %></p>

<%= link_to 'Back to events', events_path, class: "btn btn-primary"%>

<%= link_to 'Join', event_participations_path(@event), method: 'post', class: "btn btn-primary" %>

<% if @event.user == current_user %>
  <%= link_to "edit", edit_event_path(@event), class: "btn btn-primary" %>
<% end %>
<%# needs to set the path for both buttons,
\ Join button need to be disabled if user joined the event.
\ Also need a pop-up to let know the user he joined the event.  %>

<%# Jose added the button bellow to delete the event.
It only appers if the user is the one who created the event%>
<% if @event.user == current_user %>
  <%= link_to "Delete", event_path(@event),
  data: { confirm: "Are you sure you want to delete this event?" },
  method: :delete,
  class: 'ms-3 btn btn-danger',
  style: "min-width: 100px;" %>
<% end %>
