<%# cloudinary for images %>
<div class="event-banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url('<%= cl_image_path @event.photo.key , height: 300, crop: :fill if @event.photo.attached? %>')">

  <div class="container d-flex flex-column justify-content-center h-100">
    <h1><%= @event.title %></h1>
    <h3><%= @event.category.name %></h3>

    <%# I need two buttons, first appears when open the event to assist to the event, then Not going to cancel %>
    <% unless @event.user == current_user %>
      <% if !@my_participation %>
        <%= link_to 'Attend', event_participations_path(@event), method: 'post', class: "btn btn-primary px-4 rounded-5", style:"max-width: max-content;" %>
      <% else %>
        <h5 class="fst-italic">Attending</h5>
        <%= link_to "Cancel", participation_path(@my_participation),
        data: { confirm: "Are you sure you want to delete this event?" },
        method: "delete",
        class: "btn btn-primary px-4 rounded-5", style:"max-width: max-content;" %>
      <% end %>
    <% end %>
  </div>
</div>

<div class='container'>
<div class="row position-relative">
  <div class="event-popup-title col-sm-6 mx-2 pt-2 text-center">
    <h5><%= @event.date.strftime('%A, %m/%d/%Y') %> - <%= @event.starting_time %>h to <%= @event.ending_time %>h </h5>
  </div>
  <div class="big-div col-sm-6 pt-5 bg-white ps-4">
    <div class="d-flex justify-content-end">
      <%= link_to dashboard_path do %>
        <%= image_tag("back.svg", class: "icon-click-back") %>
      <% end %>
      <% if @event.user == current_user %>
        <%= link_to edit_event_path(@event) do %>
          <%= image_tag("draw.svg", class: "icon-click")  %>
        <% end %>
      <% end %>

      <%# Jose added the button below to delete the event.
      It only appers if the user is the one who created the event%>

      <% if @event.user == current_user %>
      <%# NEEDS TO SEND US TO MY EVENTS %>
        <%= link_to my_events_path,
        data: { confirm: "Are you sure you want to delete this event?" },
        method: :delete do %>
          <%= image_tag("trash.svg", class: "icon-click-trash") %>
        <% end %>
      <% end %>
    <%# INFO EVENT  %>
    </div class="info-event position-relative">
      <h4 class="centered-info pt-4">Location:</h4>
      <p class="centered-info"><%= @event.location %></p>
      <h4 class="centered-info">Description:</h4>
      <p class="description text-break"><%= @event.description %></p>
      <%# PARTICIPATIONS %>
      <div class="participation-info sticky-bottom ">
         <%# Need to set the box to the right-bottom %>
        <% if @participations.size > 4 %>
          <p><%= @participations.first.user.first_name %>, <%= @participations.second.user.first_name %> and <%= @participations.size - 2 %> more people are going.</p>
        <% elsif @participations.size == 3 %>
          <p><%= @participations.first.user.first_name %>, <%= @participations.second.user.first_name %> and <%= @participations.third.user.first_name %> are going.</p>
        <% elsif @participations.size == 2 %>
            <p><%= @participations.first.user.first_name %> and <%= @participations.second.user.first_name %> are going.</p>
        <% else %>
           <p>0 people are attending.</p>
        <% end %>
      </div>
  </div>

  <div class="col-sm-6 bg-white min-height: 380px">
    <div class="map-event"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

</div>
</div>
